@tailwind base;
@tailwind components;
@tailwind utilities;


.note-enter-active,
.note-leave-active {
  transition: all 1s ease;
}

.note-enter-from,
.note-leave-to {
  opacity: 0;
  transform: translateX(80%) scale(0.8);
}

.note-move {
  transition: transform 2s ease;
}



#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
